@import 'common.scss';
$color:red;
$w:100px;
$h:height;
$icon:success;
// sass 
/* sass1 */ 

@function add($a,$b){
    @return $a+$b;
}
body{
    background: $color;
    .div1{
        width:$w;
        height:200px;
        background: #000;
        border:{
            left:10px solid #0f0;
            top:20px solid #0f0;
        }
    }
    p{
        width: add(100px,200px);
        #{$h}: 200px;
        background: url(#{$icon}.jpg);
    }
    a{
        color: #00f;
        &:hover{
            color: #0f0;
        }
    }
    .aa{
        @include name(100px,100px,#00f);
    }
    .bb{
        @include name;
    }
    .div2{
        @extend .aa;
        background: lighten(#f00,20%);
        width:floor(234.56px);
        height:200px;
        @if 1 + 1 == 2 { border: 1px solid #000; }

    }
    // @for $i from 1 through 3 {
    //     .item-#{$i} { width: 20px * $i; }
    // }
    @for $i from 1 to 3 {
        .item-#{$i} { width: 20px * $i; }
    }
    @each $icon in error, success, warn {
        .#{$icon}-icon {
          background-image: url('/images/#{$icon}.png');
        }
      }

    $i: 6;
    @while $i > 0 {
        .item-#{$i} { width: 20px * $i; }
        $i: $i - 2;
    }
}

#arrow{
    @include myborder(yellow,right);
}


