/* sass1 */
body {
  background: red;
}

body .div1 {
  width: 100px;
  height: 200px;
  background: #000;
  border-left: 10px solid #0f0;
  border-top: 20px solid #0f0;
}

body p {
  width: 300px;
  height: 200px;
  background: url(success.jpg);
}

body a {
  color: #00f;
}

body a:hover {
  color: #0f0;
}

body .aa, body .div2 {
  width: 100px;
  height: 100px;
  border: 10px solid #00f;
}

body .bb {
  width: 200px;
  height: 200px;
  border: 10px solid #0f0;
}

body .div2 {
  background: #ff6666;
  width: 234px;
  height: 200px;
  border: 1px solid #000;
}

body .item-1 {
  width: 20px;
}

body .item-2 {
  width: 40px;
}

body .error-icon {
  background-image: url("/images/error.png");
}

body .success-icon {
  background-image: url("/images/success.png");
}

body .warn-icon {
  background-image: url("/images/warn.png");
}

body .item-6 {
  width: 120px;
}

body .item-4 {
  width: 80px;
}

body .item-2 {
  width: 40px;
}

#arrow {
  width: 0px;
  height: 0px;
  border: 20px solid transparent;
  border-left-color: yellow;
}
