/* sass1 */
body {
  background: red;
}

body .div1 {
  width: 100px;
  height: 200px;
  background: #000;
  border-left: 10px solid #0f0;
  border-top: 20px solid #0f0;
}

body p {
  width: 200px;
  height: 200px;
  background: url(success.jpg);
}

body a {
  color: #00f;
}

body a:hover {
  color: #0f0;
}

body .aa, body .div2 {
  width: 100px;
  height: 100px;
  border: 10px solid #00f;
}

body .bb {
  width: 200px;
  height: 200px;
  border: 10px solid #0f0;
}

body .div2 {
  background: #000;
}
