
/* nav开始 */
.nav{
    height: 40px;
    background: #333;
}
.wrapper{
    width: 1226px;
    height: 40px;
    /* background: #f00; */
    /* 有宽度的块级元素 水平居中 */
    margin: 0 auto;
}
.nav-left{
    float: left;
}
.nav-left li,.nav-right li{
    float: left;
    height: 40px;
    line-height: 40px;
}
/* 群组选择器 */
.nav-left li a,.nav-right li a{
    color: #b0b0b0;
    font-size: 12px;
    padding: 0 7px;
}
.nav-right{
    float: right;
}
/* .nav-left lihover的时候 后代元素a */
.nav-left li:hover a,.nav-right li:hover a{
    color:#fff;
}

/* .nav-right li{
    float: left;
    line-height: 40px;
} */
/* .nav-right li a{
    color:  #b0b0b0;
    font-size: 12px;
    padding: 0 7px;
} */
/* 购物车 */
.nav-right .cart{
    background: #424242;
    width: 120px;
    color: #b0b0b0;
    text-align: center;
    font-size: 12px;
    height: 40px;
    /* 鼠标划入手状 */
    cursor: pointer;
    position: relative;
}
.cart:hover{
    background: #fff;
    color:#ff6700;
}
.cart-list{
    width: 315px;
    height: 100px;
    background: #fff;
    /* 边框阴影 水平偏移  垂直偏移 模糊度 外延值  颜色*/
    box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.2);
    position: absolute;
    right:0px;
    top:40px;
    /* 隐藏 */
    /* display: none; */
    height:0;
    /* 过渡 属性 执行时间 运动方式（匀速）  */
    /* transition:height 0.3s linear; */
}
.cart:hover .cart-list{
    /* 显示 */
    /* display: block; */
    height: 100px;
}
/* header */
.header-box{
height: 100px;
/* background: #FF0; */
}
/* 
    文本 行元素 行级块元素 水平居中->父元素设置text-align:center
    块级元素  水平居中  ->块级元素自己设置margin：0 auto;
*/
.logo-box{
    float: left;
    background: #ff6700;
    width: 55px;
    height: 55px;
    text-align: center;
    margin-top:23px;
    margin-right: 190px;
}
.menu-box{
    float: left;
}
.menu-box li{
    float: left;
    height: 100px;
    line-height: 100px;
}
.menu-box li a{
    color: #333;
    font-size: 16px;
    padding: 0 10px;
}
.menu-box li:hover a{
    color: #ff6700;
}
.search-box{
    float: right;
    width: 298px;
    height: 50px;
    /* border:1px solid #e0e0e0; */
    margin-top:25px;
}
/* 298 = 245   +53 */
.search-box input{
    width: 246px;
    border:none;
    height: 50px;
    outline: none;
    float: left;
    color: #333;
    padding:0 10px;
    box-sizing: border-box;
    border:1px solid #e0e0e0;
    border-right: none;
}
.search-btn{
    width:52px;
    /* display: inline-block; */
    height: 50px;
    /* background: #f00; */
    float: right;
    border:1px solid #e0e0e0;
    text-align: center;
    line-height: 50px;
    color:#616161;
    box-sizing: border-box;
}
.search-btn:hover{
    background: #ff6700;
    border:1px solid #ff6700;
    color:#fff;
}
/* 轮播图开始 */
.slide-box{
    height: 460px;
    background: #ff0000;
    position: relative;
}
.img-box img{
    width:100%;
}
.cate-box{
    height: 460px;
    width: 234px;
    background: rgba(105,101,101,.6);
    position: absolute;
    left:0;
    top:0;
}
.cate-list{
    padding:20px 0;
}
/* 子代选择器  */
.cate-list >li{
    height: 42px;
    line-height: 42px;
    padding-left:30px;
    padding-right:18px;
    color: #fff;
}
.cate-list >li:hover{
    background:#ff6700 ;

}
.main-menu .icon-dayuhao{
    float: right;
    font-size: 14px;
}
.sub-menu-box{
    height: 460px;
    width:992px;
    background: #fff;
    position: absolute;
    left:234px;
    top:0;
    box-shadow: 0 8px 16px rgba(0,0,0,.18);
    /* 先隐藏 */
    display: none;
}
.main-menu:hover .sub-menu-box{
    display: block;
}
.sub-menu-box .sub-img{
    width: 40px;
    height:40px;
    /* 两个兄弟 居中对齐 */
    vertical-align: middle;
}
.sub-menu-box .sub-text{
    color:#333;
}
.sub-menu{
    padding:18px 20px;
    height: 40px;
    width:225px;
    line-height: 40px;
}
.sub-menu-box ul{
    float: left;
    width:248px;
}
/*  */
.channel-box{
    margin-top:15px;
    overflow: hidden;
    margin-bottom: 25px;
}
.channel-left{
    background: #5f5750;
    width: 234px;
    padding:3px;
    box-sizing: border-box;
    overflow: hidden;
    float: left;
}
.channel-left li{
    width:76px;
    height: 82px;
    float: left;
    text-align: center;
    color: #fff;
    position: relative;
}
.channel-left .left-img{
    width: 24px;
    display: block;
    margin:18px auto 4px;
    opacity: 0.7;
}
.channel-left .left-text{
    opacity: 0.7;
}
.channel-left li:hover .left-img,.channel-left li:hover .left-text{
    opacity: 1;
}

/* after伪元素 生成左边线 */
.channel-left li::after{
    content:"";
    position: absolute;
    left:0;
    top:6px;
    width: 1px;
    height: 70px;
    background: #665e57;
}
.channel-left li::before{
    content: "";
    position: absolute;
    left:6px;
    top:0px;
    width:64px;
    height:1px;
    background: #665e57;
}
.channel-right{
    float: right;
    width:992px;
    padding-left:1px;
    box-sizing: border-box;
}
.channel-right a{
    /* margin-left:14px; */
    /* overflow: hidden; */
    width: 316px;
    height: 170px;
    float: left;
    margin-left:14px;
}
.channel-right img{
    width:100%;
}
/* 闪购开始 */
.main-content{
    background: #f5f5f5;
}

.flashsale-header{
    height: 58px;
    line-height: 58px;
    color: #333;
    font-weight: 200;
    font-size: 22px;
    -webkit-font-smoothing: antialiased;
}
.btn-box{
    position: absolute;
    right:0;
    top:20px;
}
.sale-header-box{
    position: relative;
}
.btn-box span{
    width: 36px;
    height: 24px;
    line-height: 24px;
    border:1px solid  #e0e0e0;
    display: inline-block;
    text-align: center;
    color:#b0b0b0;
    font-size: 12px;
}
/* .sale-content{
    overflow: hidden;
} */
.sale-time{
    width: 234px;
    height: 340px;
    background: #f1eded;
    float: left;
}
.sale-list-box{
    width: 978px;
    float: right;
}
.start-time{
    font-size: 21px;
    color: #ef3a3b;
    text-align: center;
    padding-top:54px;
}
.sale-img{
    display: block;
    margin:25px auto;
}
.end-time{
    color: rgba(0,0,0,.54);
    font-size: 15px;
    text-align: center;
}
.time-num{
    display: inline-block;
    width: 46px;
    height: 46px;
    background: #605751;
    font-size: 24px;
    color:#fff;
    text-align: center;
    line-height: 46px;
}
.time-box{
    text-align: center;
    margin-top:28px;
}
.time-dottod{
    font-size:28px;
    color:#605751;
    height: 46px;
    line-height: 46px;
    display: inline-block;
}