.banner{
    height: 120px;
    /* background: red; */
    background-image: url(../images/banner.jpg);
    /* 背景图片定位 水平0（固定值 left center right）  垂直0(固定值 top center bottom ) */
    background-position: center 0;
    /* 背景图片大小  宽度自适应 高度120*/
    background-size:auto 120px ;
}