
/* nav开始 */
.nav{
    height: 40px;
    background: #333;
}
.wrapper{
    width: 1226px;
    height: 40px;
    /* background: #f00; */
    /* 有宽度的块级元素 水平居中 */
    margin: 0 auto;
}
.nav-left{
    float: left;
}
.nav-left li,.nav-right li{
    float: left;
    height: 40px;
    line-height: 40px;
}
/* 群组选择器 */
.nav-left li a,.nav-right li a{
    color: #b0b0b0;
    font-size: 12px;
    padding: 0 7px;
}
.nav-right{
    float: right;
}
/* .nav-left lihover的时候 后代元素a */
.nav-left li:hover a,.nav-right li:hover a{
    color:#fff;
}

/* .nav-right li{
    float: left;
    line-height: 40px;
} */
/* .nav-right li a{
    color:  #b0b0b0;
    font-size: 12px;
    padding: 0 7px;
} */
/* 购物车 */
.nav-right .cart{
    background: #424242;
    width: 120px;
    color: #b0b0b0;
    text-align: center;
    font-size: 12px;
    height: 40px;
    /* 鼠标划入手状 */
    cursor: pointer;
    position: relative;
}
.cart:hover{
    background: #fff;
    color:#ff6700;
}
.cart-list{
    width: 315px;
    height: 100px;
    background: #fff;
    /* 边框阴影 水平偏移  垂直偏移 模糊度 外延值  颜色*/
    box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.2);
    position: absolute;
    right:0px;
    top:40px;
    /* 隐藏 */
    /* display: none; */
    height:0;
    /* 过渡 属性 执行时间 运动方式（匀速）  */
    /* transition:height 0.3s linear; */
}
.cart:hover .cart-list{
    /* 显示 */
    /* display: block; */
    height: 100px;
}
/* header */
.header-box{
height: 100px;
background: #FF0;
}
/* 
    文本 行元素 行级块元素 水平居中->父元素设置text-align:center
    块级元素  水平居中  ->块级元素自己设置margin：0 auto;
*/
.logo-box{
    float: left;
    background: #ff6700;
    width: 55px;
    height: 55px;
    text-align: center;
    margin-top:23px;
    margin-right: 190px;
}
.menu-box{
    float: left;
}
.menu-box li{
    float: left;
    height: 100px;
    line-height: 100px;
}
.menu-box li a{
    color: #333;
    font-size: 16px;
    padding: 0 10px;
}
.menu-box li:hover a{
    color: #ff6700;
}
.search-box{
    float: right;
}